<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="tree-viewer-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline9-list shadow-reset">
                        <div class="sparkline9-hd">
                            <div class="main-sparkline9-hd">
                                <h1>Tree Viewer Style 1</h1>
                                <div class="sparkline9-outline-icon">
                                    <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline9-graph">
                            <div class="adminpro-content res-tree-ov">
                                <div id="jstree1">
                                    <ul>
                                        <li class="jstree-open">Admin Template
                                            <ul>
                                                <li>css
                                                    <ul>
                                                        <li data-jstree='"type":"css"}'>bootstrap.min.css</li>
                                                        <li data-jstree='"type":"css"}'>font-awesome.min.css</li>
                                                        <li data-jstree='"type":"css"}'>responsive.css</li>
                                                        <li data-jstree='"type":"css"}'>tree-viewer.css</li>
                                                    </ul>
                                                </li>
                                                <li>sounds
                                                    <ul>
                                                        <li data-jstree='"type":"ogg"}'>sound1.ogg</li>
                                                        <li data-jstree='"type":"ogg"}'>sound2.ogg</li>
                                                        <li data-jstree='"type":"ogg"}'>sound3.ogg</li>
                                                        <li data-jstree='"type":"ogg"}'>sound4.ogg</li>
                                                        <li data-jstree='"type":"ogg"}'>sound5.ogg</li>
                                                        <li data-jstree='"type":"ogg"}'>sound6.ogg</li>
                                                    </ul>
                                                </li>
                                                <li>fonts
                                                    <ul>
                                                        <li data-jstree='"type":"ttf"}'>adminpro-icon.ttf</li>
                                                        <li data-jstree='"type":"woff"}'>adminpro-icon.woff</li>
                                                        <li data-jstree='"type":"otf"}'>FontAwesome.otf</li>
                                                        <li data-jstree='"type":"ttf"}'>fontawesome-webfont.ttf</li>
                                                        <li data-jstree='"type":"woff"}'>fontawesome-webfont.woff</li>
                                                        <li data-jstree='"type":"woff"}'>glyphicons-halflings-regular.woff</li>
                                                    </ul>
                                                </li>
                                                <li class="jstree-open">img
                                                    <ul>
                                                        <li data-jstree='"type":"png"}'>logo.png</li>
                                                        <li data-jstree='"type":"ico"}'>favicon.ico</li>
                                                        <li class="text-navy" data-jstree='"type":"img"}'>notification.png</li>
                                                        <li class="text-navy" data-jstree='"type":"img"}'>message.png</li>
                                                    </ul>
                                                </li>
                                                <li class="jstree-open">js
                                                    <ul>
                                                        <li data-jstree='"type":"js"}'>bootstrap.min.js</li>
                                                        <li data-jstree='"type":"js"}'>jquery-ui.min.js</li>
                                                        <li data-jstree='"type":"js"}'>jquery.meanmenu.js</li>
                                                        <li data-jstree='"type":"js"}'>jquery-1.11.3.min.js</li>
                                                        <li data-jstree='"type":"js"}'>modernizr-2.8.3.min.js</li>
                                                        <li class="text-navy" data-jstree='"type":"js"}'>jquery.mCustomScrollbar.concat.min.js</li>
                                                    </ul>
                                                </li>
                                                <li data-jstree='"type":"html"}'> dashboard.html</li>
                                                <li data-jstree='"type":"html"}'> dashboard-2.html</li>
                                                <li data-jstree='"type":"html"}'> analytics.html</li>
                                                <li data-jstree='"type":"html"}'> widgets.html</li>
                                                <li data-jstree='"type":"html"}'> tree-view.html</li>
                                                <li data-jstree='"type":"html"}'> tinymc.html</li>
                                                <li class="text-navy" data-jstree='"type":"html"}'> sparkline.html</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline10-list sparkel-pro-mg-t-30 shadow-reset">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h1>Tree Viewer Style 2</h1>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="adminpro-content">
                                <div id="using_json"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
