<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="project-details-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="project-details-wrap shadow-reset">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="project-details-title">
                                    <h2><span class="profile-details-name-nn">Contract with</span> Uttara It Park</h2>
                                </div>
                                <ul id="adminpro-demo2" class="comment-action-st collapse">
                                    <li><a >Add</a>
                                    </li>
                                    <li><a >Report</a>
                                    </li>
                                    <li><a >Hide Profile</a>
                                    </li>
                                    <li><a >Turn on Profile</a>
                                    </li>
                                    <li><a >Turn off Profile</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="admin-comment-month project-details-action">
                                    <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo2">...</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Status:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Active</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Created by:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>Lorem Khanna</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Messages:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>254</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Client:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <a >Uttara It Park</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Version:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>v2.5.1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Last Updated:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>15.08.2018 13:15:55</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Created:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>12.07.2018 25:56:52</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Email:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>Admin@SRTtheme.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Phone:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>01962067309</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Participants:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-img">
                                                <a ><img src="assets/img/notification/1.jpg" alt="" />
                                                </a>
                                                <a ><img src="assets/img/notification/2.jpg" alt="" />
                                                </a>
                                                <a ><img src="assets/img/notification/3.jpg" alt="" />
                                                </a>
                                                <a ><img src="assets/img/notification/4.jpg" alt="" />
                                                </a>
                                                <a ><img src="assets/img/notification/5.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="project-pregress-details">
                                    <span><strong>Completed:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="skill-content-3 project-details-progress">
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-details-tab">
                                    <ul class="nav nav-tabs res-pd-less-sm">
                                        <li class="active"><a data-toggle="tab" href="#home">User Messages</a>
                                        </li>
                                        <li><a data-toggle="tab" href="#menu1">Last Activities</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content res-tab-content-project">
                                        <div id="home" class="tab-pane fade in active animated zoomInLeft">
                                            <div class="user-profile-comment-list">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="user-profile-comment-img projuct-details-img-tab">
                                                            <a ><img src="assets/img/notification/2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div class="user-profile-comment-content">
                                                            <p><strong>Andrew Williams</strong> Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                                                            <div class="row">
                                                                <div class="col-lg-5">
                                                                    <div class="comment-replay-profile">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 99 Like</button>
                                                                            <button class="btn btn-white profile-details-name-nn btn-xs"><i class="fa fa-heart"></i> 10 Love</button>
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-7">
                                                                    <div class="comment-date-profile profile-details-name-nn">
                                                                        <span>12.06.2018</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row profile-comment-mg">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                        <div class="user-profile-comment-img projuct-details-img-tab">
                                                            <a ><img src="assets/img/notification/6.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                        <div class="user-profile-comment-content">
                                                            <p><strong>Andrew Williams</strong> Andrew Williams Making this the first true generator on the Internet. It uses a dictionary.</p>
                                                            <div class="row">
                                                                <div class="col-lg-5">
                                                                    <div class="comment-replay-profile">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                                            <button class="btn btn-white profile-details-name-nn btn-xs"><i class="fa fa-heart"></i> 10 Love</button>
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-7">
                                                                    <div class="comment-date-profile profile-details-name-nn">
                                                                        <span>10.05.2018</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row replay-user-comment-pro">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <div class="user-profile-comment-img projuct-details-img-tab">
                                                                    <a ><img src="assets/img/notification/5.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                <div class="user-profile-comment-input">
                                                                    <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row profile-comment-mg">
                                                    <div class="col-lg-2">
                                                        <div class="user-profile-comment-img projuct-details-img-tab">
                                                            <a ><img src="assets/img/notification/3.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div class="user-profile-comment-content">
                                                            <p><strong>Andrew Williams</strong> Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                                                            <div class="row">
                                                                <div class="col-lg-5">
                                                                    <div class="comment-replay-profile">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                                            <button class="btn btn-white profile-details-name-nn btn-xs"><i class="fa fa-heart"></i> 10 Love</button>
                                                                            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-7">
                                                                    <div class="comment-date-profile profile-details-name-nn">
                                                                        <span>10.05.2018</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row profile-comment-mg">
                                                    <div class="col-lg-2">
                                                        <div class="user-profile-comment-img projuct-details-img-tab">
                                                            <a ><img src="assets/img/notification/4.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div class="user-profile-comment-input">
                                                            <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="menu1" class="tab-pane fade animated bounceInUp">
                                            <div class="project-details-completeness">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>Title</th>
                                                            <th>Start Time</th>
                                                            <th>End Time</th>
                                                            <th>Comments</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                            </td>
                                                            <td>
                                                                Create project in webapp
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                            </td>
                                                            <td>
                                                                Various versions
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                            </td>
                                                            <td>
                                                                There are many variations
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                            </td>
                                                            <td>
                                                                Latin words
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    Latin words, combined with a handful of model sentence structures
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                            </td>
                                                            <td>
                                                                The generated Lorem
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                            </td>
                                                            <td>
                                                                The first line
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                            </td>
                                                            <td>
                                                                The standard chunk
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                            </td>
                                                            <td>
                                                                Lorem Ipsum is that
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                            </td>
                                                            <td>
                                                                Contrary to popular
                                                            </td>
                                                            <td>
                                                                12.07.2018 10:10:1
                                                            </td>
                                                            <td>
                                                                14.07.2018 10:16:36
                                                            </td>
                                                            <td>
                                                                <p class="prject-details-small">
                                                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="project-details-descri project-details-mg-t-30 shadow-reset">
                        <h2>Project Description</h2>
                        <p>There are many variations of the passages of Lorem on the Ipsum available, but the majority have suffered alteration in some form, by injected humour, or one of randomised words.</p>
                    </div>
                    <div class="sparkline7-list shadow-reset mg-t-30">
                        <div class="sparkline7-hd">
                            <div class="main-spark7-hd">
                                <h1>Budgets</h1>
                                <div class="sparkline7-outline-icon">
                                    <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline7-graph project-details-price-hd">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="90" data-bgcolor="#999" data-fgcolor="#03a9f4" data-thickness=".10" data-readonly="true" disabled>
                                </div>
                                <div class="progress-circular1 project-details-price">
                                    <h2>$566</h2>
                                    <p>Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-list shadow-reset mg-t-30">
                        <div class="sparkline8-hd">
                            <div class="main-spark7-hd">
                                <h1>Files</h1>
                                <div class="sparkline8-outline-icon">
                                    <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph project-details-price-hd">
                            <div class="project-details-files">
                                <div class="view-mail-file-list">
                                    <div class="view-file-in">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-type-view">
                                        <h5><a >Document-file.zip</a></h5>
                                        <p>Added: jun 18, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
