<div class="wrapper-pro">

  <div class="login-form-area mg-t-30 mg-b-15">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3"></div>
              <form id="adminpro-order-form" class="adminpro-form">
                  <div class="col-lg-6">
                      <div class="login-bg">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="logo">
                                      <a ><img src="assets/img/logo/logo.png" alt="" />
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="login-title">
                                      <h1>Order Form</h1>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Full Name</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="text" name="fullname" />
                                      <i class="fa fa-user login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Email Address</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="email" name="email" />
                                      <i class="fa fa-envelope login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Phone Number</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="text" name="phone" />
                                      <i class="fa fa-phone login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Company name</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="text" name="companyname" />
                                      <i class="fa fa-briefcase login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Start Date</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="text" name="start" id="start" />
                                      <i class="fa fa-calendar login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>End Date</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-input-area">
                                      <input type="text" name="finish" id="finish" />
                                      <i class="fa fa-calendar login-user" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Category</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="interested-input-area">
                                      <select name="interestedcategory">
                                          <option value="none" selected="" disabled="">Interested in</option>
                                          <option value="design">Web Design</option>
                                          <option value="development">Web Development</option>
                                          <option value="illustration">Wordpress Pro</option>
                                          <option value="branding">Joomla Pro</option>
                                          <option value="video">Video Marketing</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Budget</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="budget-input-area">
                                      <select name="interestedbudget">
                                          <option value="none" selected="" disabled="">Budget</option>
                                          <option value="design">less than 500$</option>
                                          <option value="development">500$ - 1000$</option>
                                          <option value="illustration">1000$ - 2000$</option>
                                          <option value="branding">3000$ - 4000$</option>
                                          <option value="branding">6000$ - 8000$</option>
                                          <option value="branding">15000$ - 20000$</option>
                                          <option value="video">more than 25000$</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="login-input-head">
                                      <p>Project Details</p>
                                  </div>
                              </div>
                              <div class="col-lg-8">
                                  <div class="login-textarea-area">
                                      <textarea class="contact-message" cols="30" rows="10"></textarea>
                                      <i class="fa fa-comment login-user"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4"></div>
                              <div class="col-lg-8">
                                  <div class="login-button-pro">
                                      <button type="submit" class="login-button login-button-lg">Send Request</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
              <div class="col-lg-3"></div>
          </div>
      </div>
  </div>

</div>
