<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="sparkline-area mg-tb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-sparkline shadow-reset">
                        <div class="sparkline-hd">
                            <div class="main-spark-hd">
                                <h1>Sparkline </h1>
                                <div class="outline-icon">
                                    <span class="collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline-content">
                            <p>This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript.You need to include both on your page to generate sparklines.</p>
                            <p>The plugin is compatible with most modern browsers and has been tested with Firefox 2+, Safari 3+, Opera 9, Google Chrome and Internet Explorer 6, 7, 8, 9 & 10 as well as Android.</p>
                            <a target="_blank" href="https://omnipotent.net/jquery.sparkline/#s-about">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="sparkline-list sparkel-pro-mg-t-30 shadow-reset">
                        <div class="smart-sparkline-hd">
                            <div class="smart-main-spark-hd">
                                <h1>Smart Sparkline javascript</h1>
                                <div class="smart-outline-icon">
                                    <span class="smart-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="smart-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="smart-sparkline-list">
                            <table class="table table-bordered table-adminpro">
                                <thead>
                                    <tr>
                                        <th>Graph</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id="sparkline1"></span>
                                        </td>
                                        <td>
                                            Inline line chart
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="sparkline2"></span>
                                        </td>
                                        <td>
                                            Bar chart
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="sparklineadminpro"></span>
                                        </td>
                                        <td>
                                            Bar chart Positive
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="sparkline3"></span>
                                        </td>
                                        <td>
                                            Pie chart
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="sparkline4"></span>
                                        </td>
                                        <td>
                                            Long inline chart
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="sparkline5"></span>
                                        </td>
                                        <td>
                                            Tristate chart
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="sparkline6"></span>
                                        </td>
                                        <td>
                                            Discrete chart
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pie-bar-line-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sparkline7-list shadow-reset mg-b-15">
                        <div class="sparkline7-hd">
                            <div class="main-spark7-hd">
                                <h1>Pie Big size Example</h1>
                                <div class="sparkline7-outline-icon">
                                    <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline7-graph">
                            <span id="sparkline7"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sparkline8-list shadow-reset mg-b-15">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>Bar Big size Example</h1>
                                <div class="sparkline8-outline-icon">
                                    <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <span id="sparkline8"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sparkline9-list shadow-reset mg-b-15">
                        <div class="sparkline9-hd">
                            <div class="main-sparkline9-hd">
                                <h1>Bar Big size Example</h1>
                                <div class="sparkline9-outline-icon">
                                    <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline9-graph">
                            <span id="sparkline9"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
