<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="contact-clients-area mg-b-40">
        <h1>Contact Client</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single ct-client-b-mg-30 ct-client-b-mg-30-n shadow-reset">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/5.jpg" alt="" />
                                    </a>
                                    <h1><a id="group" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Designer</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Doly Firma</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Twitter, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single ct-client-b-mg-30 ct-client-b-mg-30-n shadow-reset">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/4.jpg" alt="" />
                                    </a>
                                    <h1><a id="group1" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Frontend</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Grim Joy</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Facebook, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single ct-client-ds-n shadow-reset">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/3.jpg" alt="" />
                                    </a>
                                    <h1><a id="group2" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Backend</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Prince Das</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Linkedin, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset mg-t-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/2.jpg" alt="" />
                                    </a>
                                    <h1><a id="group3" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Developer</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Akram Fox</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Behance, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset mg-t-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/1.jpg" alt="" />
                                    </a>
                                    <h1><a id="group4" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Marketer</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Halima Kan</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Amazon, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single ct-client-ds-n shadow-reset mg-t-30">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-client-img">
                                    <a ><img src="assets/img/notification/6.jpg" alt="" />
                                    </a>
                                    <h1><a id="group5" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Saler</a></h1>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-client-content">
                                    <h2><a >Ajoy Khan</a></h2>
                                    <p><i class="fa fa-map-marker"></i> Riviera State C2/17</p>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Apple, Inc.</h3>
                                    <p class="address-client-ct"><strong>Address:</strong> Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p><strong>Phone:</strong> (123) 456-7890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-clients-area mg-b-40">
        <h1>Contact Client V.1</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset ct-client-b-mg-30 ct-client-b-mg-30-n contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/5.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Doly Firma</a></h2>
                                    <h1><a id="group6" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Designer</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Twitter, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p>(123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset ct-client-b-mg-30 ct-client-b-mg-30-n contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/4.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Grim Joy</a></h2>
                                    <h1><a id="group7" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Frontend</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Facebook, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p>(123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset ct-client-ds-n contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/3.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Prince Das</a></h2>
                                    <h1><a id="group8" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Backend</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Linkedin, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p>(123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset mg-t-30 contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/2.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Akram Fox</a></h2>
                                    <h1><a id="group9" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Developer</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Behance, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p>(123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset mg-t-30 contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/1.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Halima Kan</a></h2>
                                    <h1><a id="group10" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Marketer</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Amazon, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p> (123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-client-single shadow-reset mg-t-30 ct-client-ds-n contact-client-v2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-client-img contact-img-v2">
                                    <a ><img src="assets/img/notification/6.jpg" alt="" />
                                    </a>
                                    <h2><a class="contact-client-name" >Ajoy Khan</a></h2>
                                    <h1><a id="group11" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-title="Select group" >Saler</a></h1>
                                </div>
                                <div class="contact-client-address">
                                    <h3>Apple, Inc.</h3>
                                    <p class="address-client-ct client-addres-v2">Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.</p>
                                    <p>(123) 456-7890</p>
                                </div>
                                <div class="contact-client-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-facebook"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
