<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="user-profile-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="user-profile-wrap shadow-reset">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="user-profile-img">
                                            <img src="assets/img/notification/5.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="user-profile-content">
                                            <h2>Sakila Joy</h2>
                                            <p class="profile-founder">Founder of <strong>Uttara It Park</strong>
                                            </p>
                                            <p class="profile-des">It is a long established fact that a reader will be distracted of by the readable content of a page when looking at its layout.The point of using Lorem Ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="user-profile-social-list">
                                    <table class="table small m-b-xs">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>542</strong> Projects
                                                </td>
                                                <td>
                                                    <strong>222</strong> Followers
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>612</strong> Comments
                                                </td>
                                                <td>
                                                    <strong>542</strong> Articles
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>254</strong> Tags
                                                </td>
                                                <td>
                                                    <strong>552</strong> Friends
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="analytics-sparkle-line user-profile-sparkline">
                                    <div class="analytics-content">
                                        <h5>Visits in last 24h</h5>
                                        <h2 class="counter">498009</h2>
                                        <div id="sparkline22"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-prfile-activity-area mg-b-40 mg-t-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="user-profile-about shadow-reset">
                        <h2>About Sakila Joy</h2>
                        <p>It is a long established fact that a reader will be distracted of by the readable content of a page when looking at its layout.The point of using Lorem Ipsum.</p>
                        <p>If you are going to use a passage of Lorem Ipsum.</p>
                        <span><i class="fa fa-circle user-profile-online"></i> Online status</span>
                    </div>
                    <div class="user-profile-mutual-friends shadow-reset mg-t-30">
                        <h2>Mutual friends</h2>
                        <p>If you are going to use a passage of Lorem Ipsum.</p>
                        <div class="mutual-friend-list">
                            <a ><img src="assets/img/notification/1.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/2.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/3.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/4.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/5.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/6.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/1.jpg" alt="" />
                            </a>
                            <a ><img src="assets/img/notification/2.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="widget-flot-bg shadow-reset mg-t-30">
                        <div class="admin-widget-flot-ch">
                            <h1>$5,540</h1>
                            <h3>Annual income</h3>
                            <p>Income form All Projects.</p>
                        </div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-chart88"></div>
                        </div>
                    </div>
                    <div class="widget-flot-bg shadow-reset mg-t-30">
                        <div class="admin-widget-flot-ch">
                            <h1>$1,220</h1>
                            <h3>Monthly income</h3>
                            <p>Income form Sales marketing.</p>
                        </div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-chart89"></div>
                        </div>
                    </div>
                    <div class="single-skill shadow-reset mg-t-30">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="90" data-bgcolor="#999" data-fgcolor="#7266ba" data-thickness=".10" data-readonly="true" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="progress-circular1">
                                    <h2><span>$</span><span class="counter">5862</span></h2>
                                    <p>Sales today</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="analytics-adminpro-wrap shadow-reset mg-t-30">
                        <div class="skill-content-3 analytics-adminpro analytics-adminpro3">
                            <div class="skill">
                                <div class="progress progress-bt">
                                    <div class="lead-content">
                                        <h3><span class="counter">80</span>%</h3>
                                        <p>Admin Template</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="analytics-adminpro-wrap shadow-reset mg-t-30">
                        <div class="skill-content-3 analytics-adminpro">
                            <div class="skill">
                                <div class="progress">
                                    <div class="lead-content">
                                        <h3><span class="counter">95</span>%</h3>
                                        <p>Wordpress</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="analytics-adminpro-wrap shadow-reset mg-t-30">
                        <div class="skill-content-3 analytics-adminpro analytics-adminpro4">
                            <div class="skill">
                                <div class="progress">
                                    <div class="lead-content">
                                        <h3><span class="counter">85</span>%</h3>
                                        <p>Joomla</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="analytics-adminpro-wrap profile-res-mg-b-30 shadow-reset mg-t-30">
                        <div class="skill-content-3 analytics-adminpro analytics-adminpro2">
                            <div class="skill">
                                <div class="progress progress-bt">
                                    <div class="lead-content">
                                        <h3><span class="counter">93</span>%</h3>
                                        <p>Ecommerce</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 93%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>93%</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="post-user-profile-awrap shadow-reset">
                        <div class="user-profile-post">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="user-profile-img-post">
                                        <a ><img src="assets/img/notification/3.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="user-profile-post-name">
                                        <h2><a >Brathers Vissiam</a></h2>
                                        <p><span>Today 4:21 pm - 12.06.2014</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="admin-comment-month user-profile-post-action">
                                        <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo1">...</button>
                                        <ul id="adminpro-demo1" class="comment-action-st collapse">
                                            <li><a >Add</a>
                                            </li>
                                            <li><a >Report</a>
                                            </li>
                                            <li><a >Hide Profile</a>
                                            </li>
                                            <li><a >Turn on Profile</a>
                                            </li>
                                            <li><a >Turn off Profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="profile-user-post-content">
                                        <p>It is a long established fact that a reader will be distracted by the readable on content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                        <div class="user-post-reply">
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                                                <button class="btn btn-white profile-time-ds-none btn-xs"><i class="fa fa-share"></i> Share</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-profile-comment-list">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/2.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 99 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">12.06.2014</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/6.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Andrew Williams Making this the first true generator on the Internet. It uses a dictionary.</p>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">10.05.2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row replay-user-comment-pro">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <div class="user-profile-comment-img">
                                                <a ><img src="assets/img/notification/5.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="user-profile-comment-input">
                                                <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/3.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">10.05.2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/4.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-input">
                                        <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-user-profile-awrap post-user-profile-second shadow-reset">
                        <div class="user-profile-post">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="user-profile-img-post">
                                        <a ><img src="assets/img/notification/5.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="user-profile-post-name">
                                        <h2><a >Salhama Selina</a></h2>
                                        <p><span>Today 4:21 pm - 12.06.2014</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="admin-comment-month user-profile-post-action">
                                        <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo2">...</button>
                                        <ul id="adminpro-demo2" class="comment-action-st collapse">
                                            <li><a >Add</a>
                                            </li>
                                            <li><a >Report</a>
                                            </li>
                                            <li><a >Hide Profile</a>
                                            </li>
                                            <li><a >Turn on Profile</a>
                                            </li>
                                            <li><a >Turn off Profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="profile-user-post-content">
                                        <p>It is a long established fact that a reader will be distracted by the readable on content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                        <img class="profile-user-post-img" src="assets/img/profile/1.jpg" alt="" />
                                        <div class="user-post-reply">
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                                                <button class="btn btn-white profile-time-ds-none btn-xs"><i class="fa fa-share"></i> Share</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-profile-comment-list">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/2.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 99 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">12.06.2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/6.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Andrew Williams Making this the first true generator on the Internet. It uses a dictionary.</p>
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">10.05.2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row replay-user-comment-pro">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <div class="user-profile-comment-img">
                                                <a ><img src="assets/img/notification/5.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="user-profile-comment-input">
                                                <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/3.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-content">
                                        <p><strong>Andrew Williams</strong> Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="comment-replay-profile">
                                                    <div class="btn-group">
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 299 Like</button>
                                                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="comment-date-profile">
                                                    <span class="profile-time-ds-none">10.05.2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-comment-mg">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="user-profile-comment-img">
                                        <a ><img src="assets/img/notification/4.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="user-profile-comment-input">
                                        <textarea name="text" cols="30" rows="10" placeholder="Write Comment.."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sparkline7-list profile-online-mg-t-30 shadow-reset">
                        <div class="sparkline7-hd">
                            <div class="main-spark7-hd">
                                <h1>Contact List</h1>
                                <div class="sparkline7-outline-icon">
                                    <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline7-graph">
                            <div class="user-profile-contact user-profile-scrollbar">
                                <ul class="profile-contact-menu">
                                    <li>
                                        <a ><img src="assets/img/notification/5.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Fire Foxy</span> <span class="contact-profile-online-f">31m</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/2.jpg" alt="" /> <span>Jhon Royita</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Selim Reza</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Navil khan</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Suhag Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Abir Shek</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Omi Poyel</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Emrul Khan</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Ismail Hossain</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Arif Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Hridoy Ali</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Akramul Hasan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Oishy Ray</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/5.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Tuktuki</span> <span class="contact-profile-online-f">31m</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/2.jpg" alt="" /> <span>Suvo Fram</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Arif Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Suhag Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Fire Foxy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/5.jpg" alt="" /> <span>Fire Foxy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f">31m</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/2.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Fire Foxy</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Fire Foxy</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/3.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/4.jpg" alt="" /> <span>Hridoy Ali</span> <span class="contact-profile-online-f">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/6.jpg" alt="" /> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ><img src="assets/img/notification/1.jpg" alt="" /> <span>Ismail Hossain</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>
