<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="static-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline8-list shadow-reset">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>Basic Table</h1>
                                <div class="sparkline8-outline-icon">
                                    <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mamun</td>
                                            <td>Roshid</td>
                                            <td>@Facebook</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Suhag</td>
                                            <td>Khan</td>
                                            <td>@Twitter</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sakil</td>
                                            <td>Shak</td>
                                            <td>@Linkedin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline9-list sparkel-pro-mg-t-30 shadow-reset">
                        <div class="sparkline9-hd">
                            <div class="main-sparkline9-hd">
                                <h1>Sparkle Table</h1>
                                <div class="sparkline9-outline-icon">
                                    <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline9-graph">
                            <div class="static-table-list">
                                <table class="table sparkle-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Data</th>
                                            <th>User</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span id="sparkline1"></span>
                                            </td>
                                            <td>Roshid</td>
                                            <td><i class="fa fa-level-up"></i> 50%</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span id="sparkline2"></span>
                                            </td>
                                            <td>Khan</td>
                                            <td><i class="fa fa-level-down"></i> 70%</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span class="sparklineadminpro"></span>
                                            </td>
                                            <td>Shak</td>
                                            <td><i class="fa fa-level-up"></i> 90%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h1>Border Table</h1>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="static-table-list">
                                <table class="table border-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mamun</td>
                                            <td>Roshid</td>
                                            <td>@Facebook</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Suhag</td>
                                            <td>Khan</td>
                                            <td>@Twitter</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sakil</td>
                                            <td>Shak</td>
                                            <td>@Linkedin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline11-list shadow-reset mg-t-30">
                        <div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h1>Peity Table</h1>
                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline11-graph">
                            <div class="static-table-list">
                                <table class="table sparkle-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Data</th>
                                            <th>User</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span class="pie">1/6</span>
                                            </td>
                                            <td>Roshid</td>
                                            <td><i class="fa fa-level-up"></i> 55%</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span class="pie">230/360</span>
                                            </td>
                                            <td>Khan</td>
                                            <td><i class="fa fa-level-down"></i> 75%</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span class="pie">2,7</span>
                                            </td>
                                            <td>Shak</td>
                                            <td><i class="fa fa-level-up"></i> 95%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline12-list shadow-reset mg-t-30">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h1>Hover Table</h1>
                                <div class="sparkline12-outline-icon">
                                    <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="static-table-list">
                                <table class="table hover-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mamun</td>
                                            <td>Roshid</td>
                                            <td>@Facebook</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Suhag</td>
                                            <td>Khan</td>
                                            <td>@Twitter</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sakil</td>
                                            <td>Shak</td>
                                            <td>@Linkedin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline13-list shadow-reset mg-t-30">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Line Table</h1>
                                <div class="sparkline13-outline-icon">
                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="static-table-list">
                                <table class="table sparkle-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Data</th>
                                            <th>User</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span data-diameter="40" class="updating-chart">2,5,9,6,5,9,7,3,5,2,5,3,9,6,5,8,7,8,5,2</span>
                                            </td>
                                            <td>Roshid</td>
                                            <td><i class="fa fa-level-up"></i> 55%</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span class="line">8,5,2,-1,-3,-2,8,3,5,3</span>
                                            </td>
                                            <td>Khan</td>
                                            <td><i class="fa fa-level-down"></i> 75%</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                            </td>
                                            <td>Shak</td>
                                            <td><i class="fa fa-level-up"></i> 95%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  <app-footer></app-footer>
</div>
