<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="button-adminpro-area mg-b-15">
        <div class="container-fluid">
            <div class="row justify-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		            <div id="portada" class="banner-ca">
		                <button style="position: absolute;bottom: 10px;left: 50%" (click)="toggleDisplay('menuPrincipal')" type="button" class="btn btn-default">
		                    <div class="icon-container">
	            				<span class="ti-game"></span><span class="icon-name">Empezar Juego</span>
	            			</div>
	                    </button>
                	</div>

                	<div id="menuPrincipal" class="banner-menu">
                		<div class="button-ap-list responsive-btn">
                            <div class="button-style-four">
                                <div class="button-drop-style-two btn-default-bg">
                                    <button (click)="util.abrirDropButton($event)" type="button" class="btn btn-custon-four btn-default dropdown-toggle" data-toggle="dropdown"><span class="adminpro-icon adminpro-home-admin"></span> Default <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-six" role="menu">
                                        <li><a >Action</a>
                                        </li>
                                        <li><a >Another action</a>
                                        </li>
                                        <li><a >Something else here</a>
                                        </li>
                                        <li><a >Separated link</a>
                                        </li>
                                        <li>
                                            <div class="btn-setting-icon">
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-cloud-computing-down"></span></a>
                                                </div>
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-settings"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button-drop-style-two">
                                    <button (click)="util.abrirDropButton($event)" type="button" class="btn btn-custon-four btn-primary dropdown-toggle" data-toggle="dropdown"><span class="adminpro-icon adminpro-informatio"></span> Primary <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-seven" role="menu">
                                        <li><a >Action</a>
                                        </li>
                                        <li><a >Another action</a>
                                        </li>
                                        <li><a >Something else here</a>
                                        </li>
                                        <li><a >Separated link</a>
                                        </li>
                                        <li>
                                            <div class="btn-setting-icon">
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-cloud-computing-down"></span></a>
                                                </div>
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-settings"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button-drop-style-two btn-success-bg">
                                    <button (click)="util.abrirDropButton($event)" type="button" class="btn btn-custon-four btn-success dropdown-toggle" data-toggle="dropdown"><span class="adminpro-icon adminpro-checked-pro"></span> Success <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-eight" role="menu">
                                        <li><a >Action</a>
                                        </li>
                                        <li><a >Another action</a>
                                        </li>
                                        <li><a >Something else here</a>
                                        </li>
                                        <li><a >Separated link</a>
                                        </li>
                                        <li>
                                            <div class="btn-setting-icon">
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-cloud-computing-down"></span></a>
                                                </div>
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-settings"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button-drop-style-two btn-warning-bg">
                                    <button (click)="util.abrirDropButton($event)" type="button" class="btn btn-custon-four btn-warning dropdown-toggle" data-toggle="dropdown"><span class="adminpro-icon adminpro-warning-danger"></span> Warning <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu btn-dropdown-menu another-drop-pro-nine" role="menu">
                                        <li><a >Action</a>
                                        </li>
                                        <li><a >Another action</a>
                                        </li>
                                        <li><a >Something else here</a>
                                        </li>
                                        <li><a >Separated link</a>
                                        </li>
                                        <li>
                                            <div class="btn-setting-icon">
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-cloud-computing-down"></span></a>
                                                </div>
                                                <div class="btn-icon-st">
                                                    <a ><span class="adminpro-icon adminpro-settings"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
  </div>
  <app-footer></app-footer>
</div>
