<div class="wrapper-pro">
  <app-sidebar></app-sidebar>
  <div class="content-inner-all">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <app-header-mobile></app-header-mobile>
    <app-breadcrumb-mobile></app-breadcrumb-mobile>

    <div class="login-form-area adminpro-pd mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content-details shadow-reset">
                        <h2>Custom Animate Modals Bootstrap</h2>
                        <p>These are the Custom Animate Modals Bootstrap. Using animate bounce, flash, pulse, rubberBand, shake, swing, tada, wobble, jello, bounceIn, bounceInDown, bounceInLeft, bounceInRight, bounceInUp, fadeIn, fadeInDown, fadeInDownBig, fadeInLeft, fadeInLeftBig, fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig, flipInX, flipInY, lightSpeedIn, rotateIn, rotateInDownLeft, rotateInDownRight, rotateInUpLeft, rotateInUpRight, rollIn, zoomIn, zoomInDown, zoomInLeft, zoomInRight, zoomInUp etc.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="modal-bootstrap shadow-reset nt-mg-b-30">
                        <h2>Alert Modal</h2>
                        <p>Bootstrap provides an easy way to create predefined alert messages. They support a number of use cases from user notification to completely custom content and feature a handful of helpful subcomponents, sizes, and more.</p>
                        <div class="modal-area-button">
                            <a class="Primary mg-b-10" (click)="util.showPopUpById('PrimaryModalalert')">Primary</a>
                            <a class="Information Information-color mg-b-10" (click)="util.showPopUpById('InformationproModalalert')">Information</a>
                            <a class="Warning Warning-color mg-b-10" (click)="util.showPopUpById('WarningModalalert')">Warning</a>
                            <a class="Danger danger-color" (click)="util.showPopUpById('DangerModalalert')">Danger</a>
                            <a class="Alert Alert-color" (click)="util.showPopUpById('AlertModalalert')">Alert</a>
                        </div>
                    </div>
                    <div id="PrimaryModalalert" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('PrimaryModalalert')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <i class="fa fa-check modal-check-pro"></i>
                                    <h2>Awesome!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('PrimaryModalalert')" >Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="InformationproModalalert" class="modal modal-adminpro-general fullwidth-popup-InformationproModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('InformationproModalalert')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-informatio modal-check-pro information-icon-pro"> </span>
                                    <h2>Information!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('InformationproModalalert')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="WarningModalalert" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('WarningModalalert')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning-danger modal-check-pro information-icon-pro"></span>
                                    <h2>Warning!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('WarningModalalert')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DangerModalalert" class="modal modal-adminpro-general FullColor-popup-DangerModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('DangerModalalert')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-danger-error modal-check-pro information-icon-pro"></span>
                                    <h2>Danger!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('DangerModalalert')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AlertModalalert" class="modal modal-adminpro-general FullColor-popup-AlertModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('AlertModalalert')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning modal-check-pro information-icon-pro"></span>
                                    <h2>Alert!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('AlertModalalert')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="modal-bootstrap shadow-reset nt-mg-b-30">
                        <h2>Black Footer Modal</h2>
                        <p>Bootstrap provides an easy way to create predefined alert messages. They support a number of use cases from user notification to completely custom content and feature a handful of helpful subcomponents, sizes, and more.</p>
                        <div class="modal-area-button">
                            <a class="Primary mg-b-10" (click)="util.showPopUpById('PrimaryModalftblack')">Primary</a>
                            <a class="Information Information-color mg-b-10" (click)="util.showPopUpById('InformationproModalftblack')">Information</a>
                            <a class="Warning Warning-color mg-b-10" (click)="util.showPopUpById('WarningModalftblack')">Warning</a>
                            <a class="Danger danger-color" (click)="util.showPopUpById('DangerModalftblack')">Danger</a>
                            <a class="Alert Alert-color" (click)="util.showPopUpById('AlertModalftblack')">Alert</a>
                        </div>
                    </div>
                    <div id="PrimaryModalftblack" class="modal modal-adminpro-general default-popup-PrimaryModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('PrimaryModalftblack')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <i class="fa fa-check modal-check-pro"></i>
                                    <h2>Awesome!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer footer-modal-admin">
                                    <a (click)="util.hidePopUpById('PrimaryModalftblack')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="InformationproModalftblack" class="modal modal-adminpro-general fullwidth-popup-InformationproModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('InformationproModalftblack')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-informatio modal-check-pro information-icon-pro"> </span>
                                    <h2>Information!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer footer-modal-admin">
                                    <a (click)="util.hidePopUpById('InformationproModalftblack')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="WarningModalftblack" class="modal modal-adminpro-general Customwidth-popup-WarningModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('WarningModalftblack')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning-danger modal-check-pro information-icon-pro"></span>
                                    <h2>Warning!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer footer-modal-admin">
                                    <a (click)="util.hidePopUpById('WarningModalftblack')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DangerModalftblack" class="modal modal-adminpro-general FullColor-popup-DangerModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('DangerModalftblack')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-danger-error modal-check-pro information-icon-pro"></span>
                                    <h2>Danger!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer footer-modal-admin">
                                    <a (click)="util.hidePopUpById('DangerModalftblack')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AlertModalftblack" class="modal modal-adminpro-general FullColor-popup-AlertModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('AlertModalftblack')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning modal-check-pro information-icon-pro"></span>
                                    <h2>Alert!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer footer-modal-admin">
                                    <a (click)="util.hidePopUpById('AlertModalftblack')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="modal-bootstrap shadow-reset">
                        <h2>Header BG Color Modal</h2>
                        <p>Bootstrap provides an easy way to create predefined alert messages. They support a number of use cases from user notification to completely custom content and feature a handful of helpful subcomponents, sizes, and more.</p>
                        <div class="modal-area-button">
                            <a class="Primary mg-b-10" (click)="util.showPopUpById('PrimaryModalhdbgcl')">Primary</a>
                            <a class="Information Information-color mg-b-10" (click)="util.showPopUpById('InformationproModalhdbgcl')">Information</a>
                            <a class="Warning Warning-color mg-b-10" (click)="util.showPopUpById('WarningModalhdbgcl')">Warning</a>
                            <a class="Danger danger-color" (click)="util.showPopUpById('DangerModalhdbgcl')">Danger</a>
                            <a class="Alert Alert-color" (click)="util.showPopUpById('AlertModalhdbgcl')">Alert</a>
                        </div>
                    </div>
                    <div id="PrimaryModalhdbgcl" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header header-color-modal bg-color-1">
                                    <h4 class="modal-title">BG Color Header Modal</h4>
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" (click)="util.hidePopUpById('PrimaryModalhdbgcl')"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <i class="fa fa-check modal-check-pro"></i>
                                    <h2>Awesome!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('PrimaryModalhdbgcl')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="InformationproModalhdbgcl" class="modal modal-adminpro-general fullwidth-popup-InformationproModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header header-color-modal bg-color-2">
                                    <h4 class="modal-title">BG Color Header Modal</h4>
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" (click)="util.hidePopUpById('InformationproModalhdbgcl')"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-informatio modal-check-pro information-icon-pro"> </span>
                                    <h2>Information!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('InformationproModalhdbgcl')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="WarningModalhdbgcl" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header header-color-modal bg-color-3">
                                    <h4 class="modal-title">BG Color Header Modal</h4>
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" (click)="util.hidePopUpById('WarningModalhdbgcl')"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning-danger modal-check-pro information-icon-pro"></span>
                                    <h2>Warning!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('WarningModalhdbgcl')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DangerModalhdbgcl" class="modal modal-adminpro-general FullColor-popup-DangerModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header header-color-modal bg-color-4">
                                    <h4 class="modal-title">BG Color Header Modal</h4>
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" (click)="util.hidePopUpById('DangerModalhdbgcl')"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-danger-error modal-check-pro information-icon-pro"></span>
                                    <h2>Danger!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('DangerModalhdbgcl')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AlertModalhdbgcl" class="modal modal-adminpro-general FullColor-popup-AlertModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header header-color-modal bg-color-5">
                                    <h4 class="modal-title">BG Color Header Modal</h4>
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" (click)="util.hidePopUpById('AlertModalhdbgcl')"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning modal-check-pro information-icon-pro"></span>
                                    <h2>Alert!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('AlertModalhdbgcl')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="modal-bootstrap shadow-reset">
                        <h2>Black Background Modal</h2>
                        <p>Bootstrap provides an easy way to create predefined alert messages. They support a number of use cases from user notification to completely custom content and feature a handful of helpful subcomponents, sizes, and more.</p>
                        <div class="modal-area-button">
                            <a class="Primary mg-b-10" (click)="util.showPopUpById('PrimaryModalblbgpro')">Primary</a>
                            <a class="Information Information-color mg-b-10" (click)="util.showPopUpById('InformationproModalblbgpro')">Information</a>
                            <a class="Warning Warning-color mg-b-10" (click)="util.showPopUpById('WarningModalblbgpro')">Warning</a>
                            <a class="Danger danger-color" (click)="util.showPopUpById('DangerModalblbgpro')">Danger</a>
                            <a class="Alert Alert-color" (click)="util.showPopUpById('AlertModalblbgpro')">Alert</a>
                        </div>
                    </div>
                    <div id="PrimaryModalblbgpro" class="modal modal-adminpro-general default-popup-PrimaryModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('PrimaryModalblbgpro')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <i class="fa fa-check modal-check-pro"></i>
                                    <h2>Awesome!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('PrimaryModalblbgpro')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="InformationproModalblbgpro" class="modal modal-adminpro-general fullwidth-popup-InformationproModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('InformationproModalblbgpro')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-informatio modal-check-pro information-icon-pro"> </span>
                                    <h2>Information!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('InformationproModalblbgpro')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="WarningModalblbgpro" class="modal modal-adminpro-general Customwidth-popup-WarningModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('WarningModalblbgpro')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning-danger modal-check-pro information-icon-pro"></span>
                                    <h2>Warning!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('WarningModalblbgpro')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DangerModalblbgpro" class="modal modal-adminpro-general FullColor-popup-DangerModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('DangerModalblbgpro')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-danger-error modal-check-pro information-icon-pro"></span>
                                    <h2>Danger!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('DangerModalblbgpro')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AlertModalblbgpro" class="modal modal-adminpro-general FullColor-popup-AlertModal PrimaryModal-bgcolor fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" (click)="util.hidePopUpById('AlertModalblbgpro')"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="adminpro-icon adminpro-warning modal-check-pro information-icon-pro"></span>
                                    <h2>Alert!</h2>
                                    <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="util.hidePopUpById('AlertModalblbgpro')">Cancel</a>
                                    <a >Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
