<div class="sparkline8-hd">
	<div class="main-sparkline8-hd">
		<h1>Basic Data Table</h1>
		<div class="sparkline8-outline-icon">
			<span (click)="toggleTable()" class="toggleTable">
				<i class="fa fa-chevron-up"></i>
			</span>
			<span>
				<i (click)="openTable()" class="fa fa-eye"></i>
			</span>
			<span (click)="closeTable()" class="sparkline8-collapse-close">
				<i class="fa fa-times"></i>
			</span>
		</div>
	</div>
</div>

<div class="sparkline8-list shadow-reset">
	<div *ngIf="lista" class="container-datatable">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 98px;"></th>
					<th *ngFor="let o of cabeceras" scope="col">{{o.nombreCabecera}}</th>
				</tr>
			</thead>
			<tbody *ngIf="lista.length > 0; else sinResultados">
				<tr
					*ngFor="let o of lista | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
					<td class="btnActions">
						<button (mouseenter)="util.pulseEffect($event)" *ngIf="btnEditar" (click)="editar(o)" type="button"
							class="btn btn-warning btn-just-icon swEditar bubbly-button" placement="right"
							ngbTooltip="Editar">
							<i class="fa fa-pencil-square-o"></i>
						</button>
						<button (mouseenter)="util.pulseEffect($event)" *ngIf="btnEliminar" (click)="eliminar(o)" type="button"
							class="btn btn-danger btn-just-icon swEliminar bubbly-button" placement="right"
							ngbTooltip="Eliminar">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
					<td class="cdaRow" *ngFor="let c of cabeceras"
						[attr.data-th]="c.nombreCabecera">
						<p *ngIf="c.tipoCampo === undefined">{{o[c.campoLista]}}</p>
						<p *ngIf="c.tipoCampo !== undefined" class="text-center">{{util.getEmunName(c.tipoCampo.enumeradoValores,
							o[c.campoLista])}}</p>
					</td>
				</tr>
		
			</tbody>
		
			<ng-template #sinResultados>
			<tbody>
				<tr>
					<td attr.colspan="{{cabeceras.length+1}}">
						<div class="row align-items-center">
							<div class="col">
								<p class="bold">{{msg.lbl_info_sin_resultados}}</p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			</ng-template>
		
		</table>




		
		<div *ngIf="lista.length > 0;"
			class="row justify-content-center">
			<div style="padding-top: 0px;top: -10px; max-height: 45px;"
				class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 contenedor-paginador">
				<pagination-controls (pageChange)="p = $event" autoHide="true"
					previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
			</div>
		
			<!-- CONTROLES DEL PAGINADOR -->
			<!-- id[ string] Si necesita admitir mas de una instancia de paginacion a la vez, configure idy asegúrese de que coincida con el ID establecido en la configuracion de PaginatePipe. -->
			<!-- pageChange[ event handler] La expresion especificada se invocara siempre que la pagina cambie haciendo clic en uno de los controles de paginacion. El $eventargumento sera el número de la nueva pagina. Esto se debe usar para actualizar el valor de la currentPagevariable que se paso a PaginatePipe. -->
			<!-- maxSize[ number] Define la cantidad maxima de enlaces de pagina para mostrar. Por defecto es 7. -->
			<!-- directionLinks[ boolean] Si se establece en false, los enlaces "anterior" y "siguiente" no se mostraran. Por defecto es true. -->
			<!-- autoHide[ boolean] Si se establece en true, los controles de paginacion no se mostraran cuando todos los elementos de la coleccion quepan en la primera pagina. Por defecto es false. -->
			<!-- previousLabel[ string] La etiqueta que se muestra en el enlace "anterior". -->
			<!-- nextLabel[ string] La etiqueta que se muestra en el enlace "siguiente". -->
			<!-- screenReaderPaginationLabel[ string] La palabra para "Paginacion" se usa para etiquetar los controles para lectores de pantalla. -->
			<!-- screenReaderPageLabel[ string] La palabra para "pagina" utilizada en ciertas cadenas generadas para lectores de pantalla, por ejemplo, "Pagina siguiente". -->
			<!-- screenReaderCurrentLabel[ string] La frase que indica la pagina actual para lectores de pantalla, por ejemplo, "Estas en la pagina". -->
		</div>
	</div>
</div>